<div class="col-sm">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="true" routerLinkActive="active" [routerLink]="[ '/simulator']">Simulador de
            cambio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="[ '/update']">Actualizar</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
